body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
font-family: 'Courier New', Courier, monospace;
  background-color: #780E02;
}

#video {
    width: 100%;
    height: 100vh;
    object-fit: cover;
    cursor: pointer;
}

.text {
    position: absolute;
    top: 90%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    font-size: 2rem;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.7);
    z-index: 1;
    font-weight: 800;
    color: #fde7ae;
}